body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}

.calculator {
    text-align: center;
}

#equationDisplay , #minDisplay {
    margin-bottom: 2px;
}

.buttons-cantainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 8px;

}

button {
    padding: 10px;
    font-size: 18px;
}

button:-1 last-child {
    background-color: rgb(132, 132, 132);
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}