body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
}

#equation-display , #result-display {
    width: 100%;
    margin-bottom: 2px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 8px;

}

button {
    padding: 10px;
    font-size: 18px;
}